.head-bar { 
	color: cornflowerblue;
	text-align: center;
	height: 75px;
	line-height: 75px;
	background-color: white;
}

.title {
	color: black;
}


.username {
	position:relative;
	bottom: 115px;
	left: 110px;
	font-size: 14;
}

.name {
	position: relative;
    font-size: 14;
	margin: 0px 0px 20px 0px;
}

#progressbar {
	position: relative;
	bottom: 120px;
    height: 15px;
    width: 250px;
	left: 25px;
	border: solid;
	background-color: white;
}

#progressbar>div{
  background-color: cornflowerblue;
  width: 40%;
  /* Adjust with JavaScript */
  height: 15px;
}