.head-bar { 
	color: cornflowerblue;
	text-align: center;
	height: 85px;
	line-height: 85px;
	background-color: white;
}

.title {
	color: black;
}


.username {
	position:relative;
	bottom: 115px;
	left: 110px;
	font-size: 14;
}

.name {
	position: relative;
    font-size: 14;
	margin: 0px 0px 20px 0px;
}

#progressbar {
	position: relative;
	bottom: 135px;
    height: 15px;
    width: 250px;
	left: 25px;
	border: solid;
	background-color: white;
}

.progressbarProgress{
  background-color: cornflowerblue;
  width: 40%;
  height: 15px;
  color: black;
  text-align: center;
  line-height: 15px;
  font-weight: bold;
  color: white;
}