.heading{
  font-family: Calibri; 
  font-size: 16pt;         
  font-style: normal; 
  font-weight: bold; 
  color: White;
  text-align: center; 
  position: relative;
  top: 30px;
}

.information{
  font-family: Calibri; 
  font-size: 16pt;         
  font-style: normal; 
  font-weight: bold; 
  color: White;
  text-align: center; 
  position: relative;
  top: 40px;
}

#screen{
  background-color: CornflowerBlue;
}

table{
  font-family: Calibri; 
  color: White; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color: CornflowerBlue; 
  border-collapse: collapse; 
  position: relative;
  top: 40px;
}
table.inner{
  border: 0px
}