#screen{
  background-color: cornflowerblue;
}

.container{
	position: relative;
	text-align: center;
	margin: 29px 10px;
	position: relative;
	bottom: 30px;
	border: 1px solid black;
	color: white;
	padding: 15px 0px;
	font-weight: bold;
	font-size: 20;
	cursor: default;
}

.back-button {
  color: white;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 0px 10px;
}